<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CartDao">
	<resultMap type="com.po.Cart" id="userCart">
		<id property="id" column="id"/>
		<result property="uid" column="uid"/>
		<result property="pid" column="pid"/>
		<result property="buyNum" column="buyNum"/>
		<collection property="product" ofType="com.po.Product">
			<id property="id" column="pid"/>
			<result property="name" column="name"/>
			<result property="price" column="price"/>
			<result property="category" column="category"/>
			<result property="imgurl" column="imgurl"/>
			<result property="description" column="description"/>
		</collection>
	</resultMap>
	<select id="getCart" parameterType="Integer" resultMap="userCart">
		select cart.*,products.name,products.price,products.category,products.imgurl,products.description
		from cart,products
		where cart.uid = #{uid}
		and cart.pid = products.id
	</select>
	
	<insert id="add" parameterType="com.po.Cart">
		insert into cart values(null,#{uid},#{pid},#{buyNum})
	</insert>
	
	<update id="updateByCid">
		update cart set buyNum=#{buyNum} where id=#{id}
	</update>
	
	<select id="getCartById" resultType="com.po.Cart">
		select * from cart where uid=#{uid} and pid=#{pid}
	</select>
	
	<delete id="deleteById" parameterType="Integer">
		delete from cart where id=#{id}
	</delete>
</mapper>