<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ProductDao">
	<select id="getList" resultType="com.po.Product">
    	select * from products where 1=1

    		<if test="name != null">
    			and name like concat('%',#{name},'%')
    		</if>
    		<if test="category != null">
    			and category like concat('%',#{category},'%')
    		</if>
    		<if test="minPrice != null">
    			and price &gt; #{minPrice}
    		</if>
    		<if test="maxPrice != null">
    			and price &lt; #{maxPrice}
    		</if>

	</select>
	
	<select id="getAll" resultType="com.po.Product">
		select * from products
	</select>
	
	<select id="getProduct" parameterType="String" resultType="com.po.Product">
		select * from products where id = #{pid}
	</select>
	
	<select id="getCategory" parameterType="String" resultType="com.po.Product">
		select * from products where category = #{category}
	</select>
	
	<select id="searchByName" parameterType="String" resultType="com.po.Product">
		select * from products where 1=1 
		<if test="pname != null">
			and name like concat('%',#{pname},'%')
		</if>
	</select>
	
	<insert id="addProduct" parameterType="com.po.Product">
		insert into products values(#{id},#{name},#{price},#{category},#{pnum},#{imgurl},#{description})
	</insert>
	
	<delete id="delProduct" parameterType="String">
		delete from products where id=#{id}
	</delete>
	
	<update id="updateProd" parameterType="com.po.Product">
		update products set name=#{name}, price=#{price}, category=#{category}, pnum=#{pnum}, imgurl=#{imgurl}, description=#{description} where id=#{id}
	</update>
</mapper>