<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- com.dao.UserDao对应Dao接口 -->
<mapper namespace="com.dao.UserDao">
	<!-- 查询用户信息 -->
	<select id="selectUserByUsername"  resultType="com.po.User"
	 parameterType="com.po.User">
	<!-- 	select * from user where 1=1
		<if test="username!=null and username!=''">
			and username like concat('%',#{username},'%')
		</if>
	-->
		select * from user where username=#{username}
	</select>	
	
	<!-- 注册，插入用户 -->
	<insert id="regist" parameterType="com.po.User">
		insert into user values(null,#{username},#{password},#{nickname},#{email})
	</insert>
	<!-- 登录 -->
	<select id="login" parameterType="com.po.User" resultType="com.po.User">
		select * from user where username=#{username} and password=#{password}
	</select>
	
	<!-- 管理员登录 -->
	<select id="adminlogin" parameterType="com.po.User" resultType="com.po.User">
		select * from user where username=#{username} and password=#{password} and nickname='超级管理员'
	</select>
	
	<!-- 获取用户列表 -->
	<select id="getUserList" resultType="com.po.User">
		select * from user
	</select>
	
	<!-- 获取用户名 -->
	<select id="getUserName" parameterType="Integer" resultType="String">
		select username from user where id=#{id}
	</select>
</mapper>
